<!-- begin entry  -->
<div class="entry">
	<div class="entry__pic">
		<a href='#'><img src="img/entry.jpg" alt=""></a>
	</div>
	<h3 class="entry__title"><a href='#'>Achieving Human Potential</a></h3>
	<p class="entry__meta"><a href='#' class="entry__author">CHRISTIAN DOE</a>  x  <span class="entry__date">MARCH 8, 2015</span></p>
	<div class="entry__content">
		When Viraj and Ria Mohan’s son, Vivan was diagnosed with Autism, their reaction was akin to any young couple.
	</div>
</div>
<!-- end entry -->