<!-- begin footer  -->
<div class="footer">
	<div class="footer__in">
		<div class="footer__socials socials">
			<div class="socials__fb"></div>
			<div class="socials__tw"></div>
			<div class="socials__in"></div>
			<div class="socials__pi"></div>
		</div>
		

		<div class="footer__subscribe">
			<form action="">
				<input type="text" name="" placeholder="Your email" id="">
				<input type="submit" value="">
			</form>
		</div>

		<div class="footer__center">
			<div class="footer__logo"></div>
			<ul class="footer__nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Classes</a></li>
				<li><a href="#">Events</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Shop</a></li>
			</ul>
			<div class="footer__copy">2015 &copy; Asana All Rights Reserved</div>
		</div>
	</div>
</div>
<!-- end footer -->