<!-- begin header  -->
<div class="header">
	<div class="header__in">
		<div class="header__logo"></div>
		<ul class="nav">
			<li><a href="#">YOGA</a></li>            
			<li><a href="#">NOURISH</a></li>           
			<li><a href="#">HEAL</a></li>            
			<li><a href="#">GLOW</a></li>           
			<li><a href="#">COMMUNITY</a></li>             
			<li><a href="#">RETREAT</a></li>            
			<li><a href="#">GREEN</a></li>            
		</ul>
		<div class="header__ham"></div>
		<div class="header__search">
			<i class="icon-search"></i>
		</div>
	</div>
</div>
<!-- end header -->