<!-- begin listpost  -->
<div class="listpost">
	<h2 class="listpost__title h2">Chi Nei Tsang</h2>
	<div class="listpost__meta">
		<div class="listpost__cat">Nourish</div>     <div class="listpost__aud">CHRISTIAN DOE  x  MARCH 8, 2015</div>
	</div>
	<div class="listpost__pic">
		<a href='#'><img src="img/listpost.jpg" alt=""></a>
	</div>

	<div class="listpost__content">
		<p>Healing for the 21st centuryAndrew Fretwell, a world-renowned Chi Nei Tsang pracitioner, explains the power of this revolutionary therapy and the essence of all healing...</p>
	</div>
	<div class="listpost__more">
		<div class="listpost__socials"><a href='#'><img src="img/ssocials.jpg" alt=""></a></div>
		<div class="listpost__readmore">Continue reading</div>
	</div>
	
</div>
<!-- end listpost -->