<!-- begin content__sidebar  -->
<div class="content__sidebar">
	<div class="ad">
		<img src="img/ad.jpg" alt="">
	</div>

	<!-- begin b  -->
	<div class="b">
		<!-- begin latest  -->
		<div class="latest">
			<h3 class="h3">Latest posts</h3>
			<!-- begin small  -->
			<a href='#' class="small">
				<div class="small__pic">
					<img src="img/small.jpg" alt="">
				</div>
				<div class="small__meta">Nourish</div>
				<div class="small__title">CHI NEI TSANG</div>
			</a>
			<!-- end small -->
			<!-- begin small  -->
			<a href='#' class="small">
				<div class="small__pic">
					<img src="img/small.jpg" alt="">
				</div>
				<div class="small__meta">Nourish</div>
				<div class="small__title">CHI NEI TSANG</div>
			</a>
			<!-- end small -->
			<!-- begin small  -->
			<a href='#' class="small">
				<div class="small__pic">
					<img src="img/small.jpg" alt="">
				</div>
				<div class="small__meta">Nourish</div>
				<div class="small__title">CHI NEI TSANG</div>
			</a>
			<!-- end small -->
		</div>
		<!-- end latest -->

		<div class="newsletter">
			<h3 class="h3">Newsletter</h3>
			<p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
			<input type="text" name="" placeholder="EAMIL ADDRESS" id="">
			<input type="submit" value="SUBSCRIBE" id="">
		</div>
	</div>
	<!-- end b -->

</div>
<!-- end content__sidebar -->